@import "../../../../src/assets/less/set.less";
@import "../../../../src/assets/less/preset.less";

.wrapper-portfolio{
  .custom-content{
    .header{
      .text-center;
      .header-text-decorator;
      margin: 40px 0;
      h1{
        .header-text-style.fs--big;
      }
    }
    .welcome-content{
      .text-center;
      margin-bottom: 40px;
      .title{
        .title-text-decorator;
        margin-bottom: 30px;
        span{
          .title-text-style.fs--medium;
        }
      }
      .description{
        .content-text-style.fs--medium;
      }
    }
  }
  .skills-content{
    .text-center;
    padding-bottom: 30px;
    .skills{
      .flex;
      .flex-full-center;
      margin-top: 30px;
      div{
        .text-center;
        width: 80px;
        height: 80px;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

#behance-dialog{
  &:before{
    animation: open-animation-behance .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
  }
  .dialog-content{
    background: transparent;
    .wrapper-behance{
      .text-center;
      margin: 10px auto;
      max-width: 1000px;
      img{
        width: 100%;
        max-width: 1000px;
      }
    }

  }
}

@keyframes open-animation-behance{
  0%{
    height: 0;
    top: 50%;
    background-color: #222;
  }

  100%{
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0,.8);
  }
}