<div class="wrapper-portfolio">
    <app-header-portfolio-page></app-header-portfolio-page>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-about-me-short></app-about-me-short>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="custom-content">
                    <div class="header">
                        <h1>Portfolio</h1>
                    </div>
                    <div class="welcome-content">
                        <div class="title">
                            <span>Привет</span>
                        </div>
                        <div class="description">
                            Я люблю front-end, с PHP и MySQL дружу при необходимости <br>
                            Представленные сайты я не поддерживаю, так что их вид может отличатся немного от того, что я делал. <br>
                            Также могли возникнуть баги и фичи, к которым я уже не имею отношения.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-list-portfolio-block></app-list-portfolio-block>
    </div>
</div>
