<div class="wrapper-portfolio">
    <app-header-portfolio-page></app-header-portfolio-page>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-about-me-short></app-about-me-short>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="custom-content">
                    <div class="header">
                        <h1>Portfolio</h1>
                    </div>
                    <div class="welcome-content">
                        <div class="title">
                            <span>Привет</span>
                        </div>
                        <div class="description">
                            Я люблю front-end, с PHP и MySQL дружу при необходимости. <br>
                            Представленные сайты я не поддерживаю, так что их вид может отличатся от того, что я делал. <br>
                            Также могли возникнуть баги и фичи, к которым я уже не имею отношения.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="skills-content">
                    <div class="header">
                        <h2>Skills</h2>
                    </div>
                    <div class="skills">
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/html-icon.png" alt="html skill icon" title="html 5 skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/css-icon.png" alt="css skill icon" title="css 3 skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/js-icon.png" alt="js skill icon" title="js skill icon">
                        </div>
                    </div>
                    <div class="skills">
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/php-icon.png" alt="php skill icon" title="php skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/jquery-icon.png" alt="jquery skill icon" title="jquery skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/angular-icon.png" alt="angular skill icon" title="angular skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/am-icon.png" alt="angular material skill icon" title="angular material skill icon" style="max-height: 130%">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/bootstrap-icon.png" alt="bootstrap skill icon" title="bootstrap skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/git-icon.png" alt="git skill icon" title="git skill icon">
                        </div>
                        <div>
                            <img src="/assets/images/portfolio/skills/icons/less-icon.png" alt="less skill icon" title="less skill icon" style="margin-top: 25px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-list-portfolio-block></app-list-portfolio-block>
    </div>
</div>
<div id="portfolio-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="wrapper-behance">

    </div>
</div>