<div class="wrapper-index">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="header-block">
                    <h1>Huge plan</h1>
                    <div class="subtitle">index</div>
                </div>
            </div>
            <app-cell-elem
                    *ngFor="let key of keys"
                    [content]="pages[key]"
                    class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
                    [ngClass]="{'empty' : !pages[key].content}"
            ></app-cell-elem>
        </div>
    </div>
</div>

