@import "../../../../assets/less/set.less";
@import "../../../../assets/less/preset.less";

.dialog{

  .dialog-content{
    width: 100%;
    background: white;
    .dialog-contacts{
      .flex;
      .flex-column;
      height: 51%;
      padding-top: 100px;
      background: @so-white-f6;
      .header{
        .header-text-decorator;
        div{
          .text-center;
          .header-text-style.fs--medium;
        }
      }
      .wrapper-form{
        .flex;
        .flex-grow;
        .flex-full-center;
        form{
          max-width: 1000px;
          mat-form-field{
            width: 100%;
          }
          .mat-form-field-wrapper{
            .mat-form-field-suffix{
              .abs-right;
              .mat-icon {
                height: 1.5em;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }

    .wrapper-map{
      .fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50%;
      z-index: 1;
      .map{
        height: 100%;
      }
    }
  }
}

