<div id="popup-article" class="popup" [ngClass]="{'show': false}">
  <div class="popup-content">
    <a class="popup-close" (click)="closePopup()">close</a>
    <div class="popup-contacts">
      <div class="wrapper-form">
        <form>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Enter your name" required>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="wrapper-map">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>

