<header class="container-fluid">
    <app-back-to-index></app-back-to-index>
    <div class="row">
        <div class="col-lg-12">
            <div class="logo-wrapper">
                <a routerLink="/" class="logo small">
                    <span class="name">Huge plan</span><span class="sign">Job &amp; portfolio</span>
                </a>
            </div>
        </div>
    </div>
    <a class="btn open-popup" (click)="openPopup()">Contact me</a>
</header>

<app-contact-form-popup *ngIf="popupStatus" (popupStatus)="closePopup()"></app-contact-form-popup>