@import "set.less";

/* PRESET.LESS: common for landing project */

/* TEXT STYLE PRESETS --------------------------------------------------------------------------------------------------- */

/* HEADERS TEXT STYLE PRESET */

.header-text-decorator{
  font-size: 30px;
  .subtitle{
    font-size: .6em;
  }
}

.header-text-style {

  /* COMMON FS STYLES */

  &.fs--very-small{
    font-size: .4575em;
  }
  &.fs--small{
    font-size: .85em;
    @media (max-width: @max-sm-width) {
      font-size: .8em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .7em;
    }
  }
  &.fs--medium{
    font-size: 1em;
    @media (max-width: @max-sm-width) {
      font-size: .85em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .7em;
    }
  }
  &.fs--big{
    font-size: 1.15em;
    @media (max-width: @max-sm-width) {
      font-size: 1em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .85em;
    }
  }
  &.fs--very-big{
    font-size: 1.3em;
    @media (max-width: @max-sm-width) {
      font-size: 1.15em;
    }
    @media (max-width: @max-xs-width) {
      font-size: 1em;
    }
  }

  // specific styles header
  &.header--std{
    .header-text-style.fs--very-big;
    .ff_tpl(0);
  }
  &.header--index {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  &.header--portfolio{
    .header-text-style.fs--medium;
  }
}

/* TITLES TEXT STYLE PRESET */

.title-text-decorator{
  font-size: 19px;
}

.title-text-style{

  /* COMMON FS STYLES */

  &.fs--very-small{
    font-size: .7em;
  }
  &.fs--small{
    font-size: .85em;
    @media (max-width: @max-sm-width) {
      font-size: .8em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .7em;
    }
  }
  &.fs--medium{
    font-size: 1em;
    @media (max-width: @max-sm-width) {
      font-size: .85em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .7em;
    }
  }
  &.fs--big{
    font-size: 1.15em;
    @media (max-width: @max-sm-width) {
      font-size: 1em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .85em;
    }
  }
  &.fs--very-big{
    font-size: 1.3em;
    @media (max-width: @max-sm-width) {
      font-size: 1.15em;
    }
    @media (max-width: @max-xs-width) {
      font-size: 1em;
    }
  }
}

/* CONTENT TEXT STYLE PRESET */

.content-text-decorator{
  font-size: 14px;
}

.content-text-style{

  /* COMMON FS STYLES */

  &.fs--very-small{
    font-size: .7em;
  }
  &.fs--small{
    font-size: .85em;
    @media (max-width: @max-sm-width) {
      font-size: .8em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .7em;
    }
  }
  &.fs--medium{
    font-size: 1em;
    @media (max-width: @max-sm-width) {
      font-size: .85em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .7em;
    }
  }
  &.fs--big{
    font-size: 1.15em;
    @media (max-width: @max-sm-width) {
      font-size: 1em;
    }
    @media (max-width: @max-xs-width) {
      font-size: .85em;
    }
  }
  &.fs--very-big{
    font-size: 1.3em;
    @media (max-width: @max-sm-width) {
      font-size: 1.15em;
    }
    @media (max-width: @max-xs-width) {
      font-size: 1em;
    }
  }
}

/* FLEX TABLE PRESET */

.flex-table{
  .flex;
  .flex-wrap;
  .flex-ceil{
    .flex-grow;
  }
}

/* APP CELL ELEM PRESET*/

app-cell-elem{
  &.empty{
    @media (max-width: @not-desk-device) {
      display: none;
    }
  }
}

/* LOGO PRESET */

.logo{
  .flex;
  .flex-column;
  .flex-full-center;
  .header-text-decorator;
  color: @std-dark-222;
  &.small{
    height: 100px;
  }
  .name{
    .header-text-style.fs--small;
    .text-uppercase;
  }
  .sign{
    .header-text-style.fs--very-small;
  }
}

/* MODAL DIALOG PRESET */

.dialog{
  .flex;
  .fixed;
  width: 100%;
  height: 100vh;
  z-index: 123;
  top: 0;
  right: 0;
  background: transparent;
  &:before{
    .fixed;
    content: "";
    width: 100%;
    background-color: #222;
    left: 0;
    top: 50%;
    will-change: height, top;
    animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
  }
  &:after{
    .absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #222;
    will-change: width, opacity;
    animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
    top: 50%;
    left: 0;
    margin-top: -1px;
  }
  &.hide{
    display: none;
  }
  .dialog-content{
    width: 100%;
    animation: fade .5s ease-out 1.3s both;
    background: transparent;
    .popup-contacts{
      .flex;
      .flex-column;
      height: 51%;
      padding-top: 100px;
      background: @so-white-f6;
      .header{
        .header-text-decorator;
        div{
          .text-center;
          .header-text-style.fs--medium;
        }
      }
      .wrapper-form{
        .flex;
        .flex-grow;
        .flex-full-center;
        form{
          max-width: 1000px;
          mat-form-field{
            width: 100%;
          }
          .mat-form-field-wrapper{
            .mat-form-field-suffix{
              .abs-right;
              .mat-icon {
                height: 1.5em;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }

  .dialog-close{
    width: 3rem;
    height: 3rem;
    text-indent: -9999px;
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: .5rem;
    svg{
      display: block;
      width: 2rem;
      height: 2rem;
    }
    &:hover{
      .svg-light-grey, .svg-dark-grey{
        fill: @deep-purple;
      }
    }
  }

}

@keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
    background-color: #222;
  }

  100%{
    height: 100vh;
    top: 0;
    background-color: #fff;
  }
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

/* mCustomScrollbar color active preset */

.mCSB_scrollTools{
  .mCSB_dragger{
    &.mCSB_dragger_onDrag {
      .mCSB_dragger_bar{
        background-color: @deep-purple;
      }
    }
  }
}







