/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
/*  @import "assets/less/set.less"; */

html{
    height: 100%;
}

body{
    position: relative;
    height: 100%;
    margin: 0;
    font-family: "Proxima Nova", sans-serif;
}
